[submodule "mpmc_testing"]
	path = mpmc_testing
	url = https://github.com/mpmccode/mpmc_testing.git
	branch = master
[submodule "lapack"]
	path = lapack
	url = https://github.com/Reference-LAPACK/lapack
[submodule "OpenBLAS"]
	path = OpenBLAS
	url = https://github.com/OpenMathLib/OpenBLAS
